@model NineGag.Infrastructure.ViewModels.DetailedPostViewModel
@using NineGag.Infrastructure.Extensions

@{
    ViewData["Title"] = "GetById";
}
<style>
    ul#menu li {
        display: inline;
    }
</style>
<h1>@Model.Title</h1>
<p>
    <a href="@Model.Id">@Model.PostUpvotesCount upvotes</a> ·
    <a href="@Model.Id#comments">@Model.CommentsCount comments</a>
</p>
<div>
    <ul id="menu">
        <li><img src="~/images/buttonup.png" width="44" height="34" /></li>
    </ul>
</div>
@if (Model.Picture != null)
{

    var base64 = Convert.ToBase64String(Model.Picture);
    var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
    <a href="posts/@Model.Id">
        <img src="@imgsrc" style="min-height: 336px; width: 600px;" />
    </a>

}
else if (Model.Url != null)
{
    <source src="@Model.Url" style="min-height: 336px; width: 600px;" />
}
<br />
<div id="comments"></div>
<br />
<div>
    <div>
        <div>
            @if (Model.CurrentUserAvatar != null && Model.CurrentUserAvatar.Avatar != null)
            {
                var base64 = Convert.ToBase64String(Model.CurrentUserAvatar.Avatar);
                var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                <a href="users/@User.Identity.Name">
                    <img src="@imgsrc" style="height: 50px; width: 50px;" />
                </a>

            }
            else
            {
                <img src="~/images/nophoto.png" style="height: 50px; width: 50px;" />
            }
        </div>
    </div>
    <div>
        <a href="/comments/add?postId=@Model.Id">Comment Something Cool?</a>
    </div>
</div>

<div class="container">
    @foreach (var item in Model.Comments)
    {
        <div>
            @if (item.User.Avatar != null)
            {
                var base64 = Convert.ToBase64String(item.User.Avatar);
                var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                <a href="users/@item.UserId">
                    <img src="@imgsrc" style="min-height: 50px; width: 50px;" />
                </a>

            }
            <div>
                <p><a href="/users/@item.UserId">@item.User.UserName</a> @item.CommentUpvotes.Count points · @item.CommentedOn.ToShortDateString()</p>
            </div>
            <p>@item.Content</p>
            <div>
                <a>Reply</a>
                <a><img src="~/images/buttonup.png" width="20" height="20" /></a>
                @{var visibility = (User.GetUserId() != item.UserId ? "block" : null); }
                <a href="/comments/remove/@item.Id" style="display: @visibility">Delete Comment</a>
            </div>
        </div>


        <div class="container">
            @foreach (var reply in item.Replies)
                {
                <div>
                    @if (reply.User.Avatar != null)
                    {
                        var base64 = Convert.ToBase64String(reply.User.Avatar);
                        var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                        <a href="users/@item.UserId">
                            <img src="@imgsrc" style="min-height: 30px; width: 30px;" />
                        </a>

                    }
                    <div>
                        <p>@item.User.UserName @item.CommentUpvotes.Count points · @item.CommentedOn.ToShortDateString()</p>
                    </div>
                    <p>@item.Content</p>
                    <div>
                        <a>Reply</a>
                        <a><img src="~/images/buttonup.png" width="20" height="20" /></a>
                    </div>
                </div>
            }
        </div>

    }
</div>